.DS_Store
_site
assets/vendor/bootstrap/js
assets/vendor/bootstrap/less
assets/vendor/font-awesome/less
assets/vendor/font-awesome/css
assets/vendor/font-awesome/src
assets/vendor/modernizr/feature-detects
assets/vendor/modernizr/media
assets/vendor/modernizr/test
assets/vendor/turbolinks/bin
assets/vendor/turbolinks/src
assets/vendor/turbolinks/test
assets/vendor/turbolinks/*.md
.bundle
Gemfile.lock
/html
/md
.sass-cache
node_modules
comments.json
/tmp
/.jekyll-metadata
/spec/examples.txt
/vendor/bundle/
.jekyll-cache
.github/styles/*
.frontmatter
assets/css/style.css
assets/js/bundle.js
assets/js/bundle.js.LICENSE.txt
# Next.js
/.next/
/out/
next-env.d.ts
.vercel
