url: "http://localhost:4000"

proofer:
  :url_ignore:
    - "#comments"
    - !ruby/regexp '/https?:\/\/(www)?\.youtube\.com\/watch\?v=.*/i'
    - http://ben.balter.com/404/
    - /edit/master/404.html
  :check_html: true
  :url_swap:
    "http://localhost:4000/": "/"
  :cache:
    :timeframe: 24h
  :parallel:
    :in_processes: 3

github:
  repository_nwo: "benbalter/benbalter.github.com"
  owner_url: "https://github.com/benbalter"
  repository_url: "https://github.com/benbalter/benbalter.github.com"

required_front_matter:
  posts:
    - title
    - description
  pages:
    - title
    - description
  resume_positions:
    - employer
    - title
    - start_date
