---
title: Books for geeks
excerpt: Must-Read books for hackers, geeks, and open-source developers
layout: page
permalink: /books-for-geeks/
redirect_from: books
service_version: 20070822
books_per_row: 3
---

{% comment %}
  Looking to edit the list of books? See https://git.io/vKfSv.
{% endcomment %}

<div class="lead">
  {{ page.excerpt | mardownify }}
</div>

{% for book in site.data.books %}
  {% assign column_number = forloop.index0 | modulo:page.books_per_row %}

  {% if column_number == 0 %}
    <div class="row books">
  {% endif %}

  <div class="col-sm-{{ 12 | divided_by:page.books_per_row }} book">
    <a href="https://www.amazon.com/gp/product/{{ book.asin }}/?tag={{ site.amazon.affiliates_tag }}" id="{{ book.title | slugify }}">
      <div class="cover">
        <img
          src="https://ws-na.amazon-adsystem.com/widgets/q?ASIN={{ book.asin }}&ServiceVersion={{ page.service_version }}&ID=AsinImage&WS=1&Format=_SL110_&tag={{ site.amazon.affiliates_tag }}"
          alt="{{ book.title | mardownify | strip_html }}"
        />
      </div>

      <div class="title">
        {{ book.title | mardownify }}
      </div>
    </a>

    <div class="tldr">
      {{ book.tldr | markdownify }}
    </div>
  </div>

  {% if column_number == 2 or forloop.rindex == 1 %}
    </div>
  {% endif %}
{% endfor %}
