<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": {{ site.title | jsonify }},
  "email": {{ site.email | jsonify }},
  "gender": {{ site.gender | jsonify }},
  "image": {{ site.logo | absolute_url | jsonify }},
  "url": {{ "/" | absolute_url | jsonify }},
  "jobTitle": {{ site.job_title | jsonify }},
  "worksFor": {
    "@type": "Organization",
    "name": {{ site.employer.name | jsonify }},
    "url": {{ site.employer.url | jsonify }}
  },
  "sameAs": {{ site.social.links | jsonify }}
}
</script>
