<div class="text-center">
  <div class="row justify-content-center">
    {% for link in site.contact_links %}
      <div class="col-sm">
        <a href="{{ link.url }}" rel="me noopener" target="_blank" data-proofer-ignore="true">
          <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-sm-12 col-2 offset-3 offset-sm-0 text-center">
              <i class="{{ link.icon }} fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-12 col-6 text-sm-center text-start">
              {{ link.name }}
            </div>
         </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% if site.pgp_key %}
  <p class="small">
    <a href="{{ "key.asc" | absolute_url }}">PGP: <code>{{ site.pgp_key }}</code></a>
  </p>
  {% endif %}
</div>
