<footer class="mt-5 pt-4 border-top border-2">
  <nav aria-label="Footer navigation" class="footer-nav">
    <div class="d-flex justify-content-between px-2 py-3 mb-4 flex-wrap">
      <ul class="nav contact-links">
        {% for link in site.contact_links %}
        <li class="nav-item">
          <a href="{{ link.url }}" aria-label="{{ link.name }}" class="nav-link social-link" target="_blank" rel="noopener noreferrer me">
            <i class="{{ link.icon }}" title="{{ link.name }}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>

      <ul class="nav footer-links">
        {% for path in site.footer_pages %}
          {% assign footer_page=site.pages | where:"path",path | first %}
          <li class="nav-item">
            <a href="{{ footer_page.url | relative_url }}" class="nav-link link-secondary">
              {{ footer_page.title }}
            </a>
          </li>
        {% endfor %}

        <li class="nav-item">
          <a href="{{ "/feed.xml" | relative_url }}" aria-label="RSS Feed" class="nav-link">
            <i class="fas fa-rss" title="RSS Feed"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
