<nav>
  <ul class="nav justify-content-end border-top px-2 py-3">
    {% for path in site.footer_pages %}
      {% assign footer_page=site.pages | where:"path",path | first %}
      <li class="nav-item">
        <a href="{{ footer_page.url | relative_url }}" class="nav-link link-secondary">
          {{ footer_page.title }}
        </a>
      </li>
    {% endfor %}

    <li class="nav-item">
      <a href="{{ "/feed.xml" | relative_url }}" aria-label="Atom Feed" class="nav-link">
        <i class="fas fa-rss" title="Atom Feed"></i>
      </a>
    </li>
  </ul>
</nav>
