</div><!-- content -->
{% if site.github.url %}
	{% assign url_base = site.github.url %}
{% else %}
	{% assign url_base = site.url %}
{% endif %}
<div class="row">
	{% if page.layout == "default" %}
	<div class="col-sm-12 footer">
	{% else %}
	<div class="col-sm-10 col-sm-offset-1 footer">
	{% endif %}
		<div class="fine-print"><a href="{{ url_base }}/fine-print/">Fine Print</a></div>
	</div>
</div>

</div><!--/.container-->

<script>
	var _gaq=[['_setAccount','{{ site.ga_username }}'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="{{ url_base }}/assets/vendor/anchor-js/anchor.min.js"></script>
<script>addAnchors('h3, h4, h5, h6');</script>

</body>
</html>
<!-- Proudly Powered by GitHub | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->
