<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% include seo.html %}

	<meta name="viewport" content="width=device-width">
  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />

	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
	<script src="{{ site.url }}/assets/js/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	{% include nav.html %}

<div class="wrap">

<div class="container-fluid">

<header>
	<div class="row-fluid">
    	<div class="span12">
        	<div class="hero-unit">
        		<div class="heading-wrapper">
	        		<h1><a role="banner" href="{{ site.url }}">{{ site.name }}</a></h1>
       	    		<h2 class="description">{{ site.description}}</h2>
        		</div>
        	</div>
        </div>
    </div>
</header>