<!DOCTYPE html>
<html lang="{{ site.lang }}" xml:lang="{{ site.lang }}">
<head>
  {% if site.github.url %}
    {% assign url_base = site.github.url %}
  {% else %}
    {% assign url_base = site.url %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/plain" rel="author" href="{{ url_base }}/humans.txt" />
  <link rel="shortcut icon" href="/favicon.ico?v={{ site.github.build_revision }}">

  <link href="{{ url_base }}/assets/css/style.css?v={{ site.github.build_revision }}" rel="stylesheet" media="screen">

  {% feed_meta %}

  {% seo %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18088627-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">

<div class="container">

  {% if page.layout == "default" %}
  <div class="hero-unit">&nbsp;</div>
  {% endif %}

  {% include nav.html %}

  <div class="content" id="content" role="main">
