<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% include seo.html %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />

  <link href="/assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/assets/css/pygmentize.css?v={{ site.github.build_revision }}" rel="stylesheet" media="screen">
  <link href="/assets/css/style.css?v={{ site.github.build_revision }}" rel="stylesheet" media="screen">

  <script src="/assets/vendor/modernizr/modernizr.js"></script>

</head>
<body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">

<div class="container">

  {% if page.layout == "default" %}
  <div class="hero-unit">&nbsp;</div>
  {% endif %}

  {% include nav.html %}

  <div class="content" id="content" role="main">
