<div class="row improve-article-wrapper">
  <div class="col-sm-4 col-sm-offset-1">
     <a class="btn btn-primary btn-lg" href="{{ site.github.repository_url }}/edit/{{ site.branch }}/{{ page.path }}" title="Help improve article {{ page.path }}">Edit</a>
   </div>
   <div class="col-sm-6 col-sm-offset-1">
   <p class="improve-article">This content is open source. <br />
   Please <a href="{{ site.github.repository_url }}/edit/{{ site.branch }}/{{ page.path }}" title="Help improve article {{ page.path }}">help improve it</a>.</p>
  </div>
</div>
