<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#111111" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#eeeeee" media="(prefers-color-scheme: dark)">

<link type="text/plain" rel="author" href="{{ "humans.txt" | absolute_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png?v=" | append: site.github.build_revision | relative_url }}">
<link rel="manifest" href="{{ "/site.webmanifest?v=" | append: site.github.build_revision | relative_url }}">
<link rel="shortcut icon" href="{{ "/favicon.ico?v=" | append: site.github.build_revision | relative_url }}">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#337ab7">
<link href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" rel="stylesheet" media="screen">
<script defer src="{{ "/assets/js/bundle.js?=" | append: site.github.build_revision | relative_url }}"></script>

{% for link in site.social.links %}
  <link rel="me" href="{{ link }}">
{% endfor %}