<div class="row mini-bio">
  {% assign bio = site.pages | where:"title","About" %}
  {% assign bio = bio[0].content | newline_to_br | split:"<br />" %}
  {% assign about_url = site.url | append:"/about/" %}
  <div class="col-sm-2">
    {{ bio[0] | replace:" site.gravatar_id ",site.gravatar_id | replace:"{{","" | replace:"250","100" | markdownify }}
  </div>
  <div classs="col-sm-10">
    {{ bio[2] | append:' <a href="URL">More about the author &rarr;</a>' | replace:"URL",about_url | markdownify }}
  </div>
</div>
