	<ul class="nav" role="menu">
		<li id="home"{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ site.url }}/">Home</a>
		<li id="about"{% if page.url == "/about/"%} class="active"{% endif %}><a href="{{ site.url }}/about/" rel="author">About</a></li>
		<li id="resume"{% if page.url == "/resume/"%} class="active"{% endif %}><a href="{{ site.url}}/resume/">Resume</a></li>
		<li id="contact"{% if page.url == "/contact/"%} class="active"{% endif %}><a href="{{ site.url }}/contact/">Contact</a></li>
	</ul>
