  <nav class="pagination">
    {% if site.github.url %}
      {% assign url_base = site.github.url %}
    {% else %}
      {% assign url_base = site.url %}
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a class="btn" href="{{ url_base }}/" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a class="btn" href="{{ url_base }}/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
    <a id="next" class="btn" href="{{ url_base }}/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %}
  </nav>
