	{% if page.url == "/" %}
			{% capture seo_title %}{{ site.name }} &raquo; {{ site.description }}{% endcapture %}
	    {% assign seo_desc = site.description %}
	{% else %}
	    {% capture seo_title %}{{ page.title }} &raquo; {{ site.name }}{% endcapture %}
	    {% assign seo_desc = page.excerpt %}
	{% endif %}

	{% if site.github.url %}
		{% assign url_base = site.github.url %}
	{% else %}
		{% assign url_base = site.url %}
	{% endif %}

	<title>{{ seo_title }}</title>
	<meta property="og:title" content="{{ seo_title }}"/>

	<meta property="og:site_name" content="{{ site.name }}"/>

  {% if seo_desc %}
	<meta name="description" content="{{ seo_desc }}"/>
	<meta property='og:description' content="{{ seo_desc }}"/>
	{% endif %}

	{% if page.robots %}
	<meta name="robots" content="{{ page.robots }}" />
	{% endif %}

	<link rel="canonical" href="{{ url_base }}{{ page.url }}"{% if page.url == "/404.html" %} data-proofer-ignore="true"{% endif %}/>
	{% if page.next.url %}<link rel="next" href="{{ url_base }}{{ page.next.url }}" title="{{ page.next.title }}" />{% endif %}
	{% if page.previous.url %}<link rel="prev" href="{{ url_base }}{{ page.previous.url }}" title="{{ page.previous.title}}" />{% endif %}

	<meta property='og:url' content='{{ url_base }}{{ page.url }}'/>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} &raquo; Feed" href="http://feeds.feedburner.com/benbalter" />

	<meta property='og:locale' content='en_us'/>

	<meta property="twitter:account_id" content="{{ site.twitter.account_id }}" />
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:title" content="{{ seo_title }}" />
	<meta property="twitter:description" content="{{ seo_desc }}" />
	<meta property="twitter:site" content="{{ site.twitter.username }}" />
	<meta property="twitter:creator" content="{{ site.twitter.username }}" />


	<meta name="google-site-verification" content="cu0TLlPmBuN3XgPQ8cYyd4nY-wwSaY6e59J7uPE06po" />
