<script type="template" id="post_template">
{% include templates/post._ %}
</script>

<script type="template" id="post_excerpt_template">
{% include templates/post_excerpt._ %}
</script>

<script type="template" id="page_template">
{% include templates/page._ %}
</script>

<script type="template" id="recent_comments_template">
{% include templates/recent_comments._ %}
</script>

<script type="template" id="recent_tweets_template">
{% include templates/recent_tweets._ %}
</script>

<script type="layout" id="single_layout">
{% include templates/single._ %}
</script>

<script type="layout" id="index_layout">
{% include templates/index._ %}
</script>
