//colors
$color_lemon_grass_approx: #999988;
$color_mountain_mist_approx: #999999;
$color_tamarillo_approx: #a61717;
$color_swiss_coffee_approx: #e3d2d2;
$black: #000000;
$color_pippin_approx: #ffdddd;
$color_bright_red_approx: #aa0000;
$color_snowy_mint_approx: #ddffdd;
$color_suva_gray_approx: #888888;
$color_fuscous_gray_approx: #555555;
$color_silver_chalice_approx: #aaaaaa;
$color_east_bay_approx: #445588;
$color_persian_green_approx: #009999;
$color_crimson_approx: #d14;
$color_forest_green_approx: #009926;
$color_flirt_approx: #990073;
$teal: #008080;
$color_bondi_blue_approx: #0086b3;
$color_mineral_green_approx: #3c5d5d;
$color_seance_approx: #800080;
$color_red_berry_approx: #990000;
$navy_blue: #000080;
$color_pink_swan_approx: #bbbbbb;
$color_desert_storm_approx: #f8f8f8;

.highlight {
  background-color: $color_desert_storm_approx;
  table {
    td {
      padding: 5px;
    }
    pre {
      margin: 0;
    }
  }
  .cm {
    color: $color_lemon_grass_approx;
    font-style: italic;
  }
  .cp {
    color: $color_mountain_mist_approx;
    font-weight: bold;
  }
  .c1 {
    color: $color_lemon_grass_approx;
    font-style: italic;
  }
  .cs {
    color: $color_mountain_mist_approx;
    font-weight: bold;
    font-style: italic;
  }
  .c {
    color: $color_lemon_grass_approx;
    font-style: italic;
  }
  .cd {
    color: $color_lemon_grass_approx;
    font-style: italic;
  }
  .err {
    color: $color_tamarillo_approx;
    background-color: $color_swiss_coffee_approx;
  }
  .gd {
    color: $black;
    background-color: $color_pippin_approx;
  }
  .ge {
    color: $black;
    font-style: italic;
  }
  .gr {
    color: $color_bright_red_approx;
  }
  .gh {
    color: $color_mountain_mist_approx;
  }
  .gi {
    color: $black;
    background-color: $color_snowy_mint_approx;
  }
  .go {
    color: $color_suva_gray_approx;
  }
  .gp {
    color: $color_fuscous_gray_approx;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: $color_silver_chalice_approx;
  }
  .gt {
    color: $color_bright_red_approx;
  }
  .kc {
    color: $black;
    font-weight: bold;
  }
  .kd {
    color: $black;
    font-weight: bold;
  }
  .kn {
    color: $black;
    font-weight: bold;
  }
  .kp {
    color: $black;
    font-weight: bold;
  }
  .kr {
    color: $black;
    font-weight: bold;
  }
  .kt {
    color: $color_east_bay_approx;
    font-weight: bold;
  }
  .k {
    color: $black;
    font-weight: bold;
  }
  .kv {
    color: $black;
    font-weight: bold;
  }
  .mf {
    color: $color_persian_green_approx;
  }
  .mh {
    color: $color_persian_green_approx;
  }
  .il {
    color: $color_persian_green_approx;
  }
  .mi {
    color: $color_persian_green_approx;
  }
  .mo {
    color: $color_persian_green_approx;
  }
  .m {
    color: $color_persian_green_approx;
  }
  .mb {
    color: $color_persian_green_approx;
  }
  .mx {
    color: $color_persian_green_approx;
  }
  .sb {
    color: $color_crimson_approx;
  }
  .sc {
    color: $color_crimson_approx;
  }
  .sd {
    color: $color_crimson_approx;
  }
  .s2 {
    color: $color_crimson_approx;
  }
  .se {
    color: $color_crimson_approx;
  }
  .sh {
    color: $color_crimson_approx;
  }
  .si {
    color: $color_crimson_approx;
  }
  .sx {
    color: $color_crimson_approx;
  }
  .sr {
    color: $color_forest_green_approx;
  }
  .s1 {
    color: $color_crimson_approx;
  }
  .ss {
    color: $color_flirt_approx;
  }
  .s {
    color: $color_crimson_approx;
  }
  .na {
    color: $teal;
  }
  .bp {
    color: $color_mountain_mist_approx;
  }
  .nb {
    color: $color_bondi_blue_approx;
  }
  .nc {
    color: $color_east_bay_approx;
    font-weight: bold;
  }
  .no {
    color: $teal;
  }
  .nd {
    color: $color_mineral_green_approx;
    font-weight: bold;
  }
  .ni {
    color: $color_seance_approx;
  }
  .ne {
    color: $color_red_berry_approx;
    font-weight: bold;
  }
  .nf {
    color: $color_red_berry_approx;
    font-weight: bold;
  }
  .nl {
    color: $color_red_berry_approx;
    font-weight: bold;
  }
  .nn {
    color: $color_fuscous_gray_approx;
  }
  .nt {
    color: $navy_blue;
  }
  .vc {
    color: $teal;
  }
  .vg {
    color: $teal;
  }
  .vi {
    color: $teal;
  }
  .nv {
    color: $teal;
  }
  .ow {
    color: $black;
    font-weight: bold;
  }
  .o {
    color: $black;
    font-weight: bold;
  }
  .w {
    color: $color_pink_swan_approx;
  }
}
