body { padding-top: 20px; }
@media (max-width: 768px) {
    body { padding-top: 0; }
}

/* Contact social icons */
#contact-links {list-style: none; text-align: center; font-size: 8pt; line-height: 14px; margin-top: 20px;}
#contact-links a, #contact-links a:visited {color: #999; text-decoration: none;}
#contact-links li {display: inline-block; padding: 0 15px 0 15px; text-align: center; margin-left: auto; margin-right: auto; line-height: 10px;}
#contact-links i { display: block; width: 40px; height: 40px; }
.center { text-align: center }

/* images */
.aligncenter { clear: both;	display: block;	margin-left: auto; margin-right: auto; }
.alignleft { display: block; float:left; padding-right: 15px; padding-bottom: 5px; }
.alignright { display: block; float: right; padding-left: 15px; padding-bottom: 5px; }
@media (max-width: 768px) {
    .alignleft, .aignright { float: none; clear: both; margin-left: auto; margin-right: auto; }
}

/* Footnotes */
.footnotes a[rev="footnote"] {float: right; margin-top: -2em; display: none; }
.footnotes ol li:hover a[rev="footnote"] { display: block }
.home .footnotes { display:none }

/* Posts */
.post-meta { margin: 0 0 20px 0; font-style: italic; }
.home article { margin-bottom: 25px; }
.post-contact p { text-align: center; margin: 30px 0; }
.revision-history, .revision-history:visited { color: #aaa;}

/* Footer */
.footer { border-top: 1px solid #eee; margin-top: 20px; }
.fine-print { float: right; padding: 25px; }
.fine-print a, .fine-print a:visited { color: #ccc; }

/* Disqus */
.disqus { border-top: 1px dotted rgba(0, 0, 0, 0.2); margin-top: 20px; }
#disqus_thread { margin-top: 20px; }

/* Forking */
.improve-article { margin-top: 7.5px; font-size: 14px; font-style: italic; }
.improve-article-wrapper { padding-top: 20px; border-top: 1px dotted rgba(0, 0, 0, 0.2); text-align: center; }

/* Index */
.posts { list-style: none; padding-left: 0; font-size: 1.3em;}
.posts li { margin-bottom: 10px; }
.posts li .date { font-size: 0.7em; color: #bbb; text-align: right; }
@media (max-width: 768px) {
    .posts li .date {text-align: left;}
}

/* Header */
.hero-unit {
    background-image: url( '../../wp-content/uploads/2012/05/cropped-wp-header.jpg' );
    background-size: cover;
    background-position: center center;
    height: 250px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
@media (max-width: 768px) {
    .hero-unit {border-radius: 0;}
}

/* Nav */
.navbar { border-top-left-radius: 0; border-top-right-radius: 0;}
.navbar h1 { display: inline; }
.navbar h2 { font-weight: normal; font-size: 20px; display: inline;}
.navbar-brand { font-size: 20px;}
@media (max-width: 768px) {
    .navbar .pull-right { text-align: center; float: none;}
}
@media (max-width: 768px) {
    .navbar li { text-align: center;}
}
