/* Structure */
.container, .container-fluid { width: 80%; margin-left: auto; margin-right: auto; }
.wrap { background: #ccc; padding-bottom: 40px; }
.wrap .container, .wrap .container-fluid {  background: #fff; padding: 20px 40px; }
.navbar .container, .navbar .container-fluid { padding: 0 40px 0 0; }

/* font */
@font-face {
    font-family: 'leaguegothic-regular';
    src: url('https://raw.github.com/theleagueof/league-gothic/master/webfonts/leaguegothic-regular-webfont.eot');
    src: url('https://raw.github.com/theleagueof/league-gothic/master/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://raw.github.com/theleagueof/league-gothic/master/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('https://raw.github.com/theleagueof/league-gothic/master/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('https://raw.github.com/theleagueof/league-gothic/master/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Headings */
.hero-unit h1 { text-shaddow: 4px 4px 15px black !important; font-size: 60px;  }
.hero-unit h1 a { text-shadow: 1px 1px 2px black;  letter-spacing: 3px; }
.hero-unit h2 { font-size: 18px; letter-spacing: 1.5px; font-family: inherit; }

h1, h2 { font-family: leaguegothic-regular, sans-serif !important; letter-spacing: 2px; font-weight: normal; }
article h2 { font-size: 25px; }
h2, h2.title { text-transform: uppercase; font-size: 35px; }
h4 { margin-bottom: 10px; }
.well h4 { text-align: center; }

/* Contact social icons */
#contact-links {list-style: none; text-align: center; font-size: 8pt; line-height: 14px;}
#contact-links a, #contact-links a:visited {color: #999; text-decoration: none;}
#contact-links li {display: inline-block; padding: 0 15px 0 15px; text-align: center; margin-left: auto; margin-right: auto;}

/* images */
.aligncenter { clear: both;	display: block;	margin-left: auto; margin-right: auto; }
.alignleft { display: block; float:left; padding-right: 15px; padding-bottom: 5px; }
.alignright { display: block; float: right; padding-left: 15px; padding-bottom: 5px;  }

@media (max-width: 600px) {
	.alignleft, .aignright { float: none; clear: both; margin-left: auto; margin-right: auto; }
}

/* Resume */
.resume .content a {text-decoration: none; color: #757575;}
.resume .bar {background: #ccc; z-index: 0; border-right: 3px solid black; height: 1000px; position: absolute; margin: 0; }
.resume .content h2 { text-transform: lowercase; font-weight: normal; text-align: right; position: absolute; font-size: 14px; position: relative; margin-right: 20px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; letter-spacing: 1.5px; line-height: 18px; }
.resume .date, .resume .location { color: #aaa; float: right; clear: right; font-size: 12px; margin-top: -1.5em; }
.resume .details { text-align: justify; }
.resume h4 { font-style: italic; font-weight: normal; font-size: 14px; line-height:18px; }
.resume h3 { font-size: 16px; font-weight: normal; }
.resume ul { padding-left:16px; list-style-type:square; margin-left: 0; }
.resume h2#resume { display: none; }
.resume .span10 { padding-left: 1.5%; }


@media ( max-width: 767px ) {
	.resume .content h2 { text-transform: capitalize; font-weight: bold; text-align: left; margin-right: 0 }
	.resume .bar { display: none; border: none; }
	.resume .span10 { padding-left: 0 !important; }
}

@media ( max-width: 400px ) {
	.resume .location, .resume .date { float: none; display: inline; display: inline-block; }
	.resume .date { margin-bottom: 15px; }
}

/* Footnotes */
.footnotes a[rev="footnote"] {float: right; margin-top: -2em; display: none; }
.footnotes ol li:hover a[rev="footnote"] { display: block }
.home .footnotes { display:none }

/* Sidebar */
.sidebar { font-size: 12px; }
.sidebar-nav { padding: 9px 0;}
.sidebar h4 { padding: 5px 0 5px 0; }

/* Posts */
.post-meta { margin: 0 0 20px 0; font-style: italic; }
.home article { margin-bottom: 25px; }

.post-contact p { text-align: center; margin: 30px 0; }
/* Search */
#query { width: 96%; }

/* Hero */

.hero-unit { 
	background-image: url( 'http://ben.balter.com/wp-content/uploads/2012/05/cropped-wp-header.jpg' );
	background-size: cover;
	background-position: center center;
	min-height: 150px; 
	position: relative;
}

.hero-unit .heading-wrapper {
	background: rgb( 200, 200, 200 );
	background: rgba( 200, 200, 200, 0.5 );
	border-radius: 10px;
	padding: 0 10px 0 10px; 
	bottom: 5px;
	right: 5px;
	position: absolute;
	text-align: right;
}

/* Footer */
footer { border-top: 1px solid #eee; margin: 50px 0 0 0; padding-top: 25px; }
.fine-print { float: right;}
.fine-print a, .fine-print a:visited { color: #ccc; }

/* Related Posts */
blockquote p { margin-bottom: 10px; }
#related_posts { margin: 20px 0 15px; }
.home #related_posts { display: none; }

/* tag cloud */
#tag-cloud { margin: 0; padding: 0; }
#tag-cloud .tag { display: inline; list-style: none;  }

/* Recent Tweets */
#tweets, #recent-posts { margin-left: 0; list-style: none; font-size: 11px; }
#tweets li, #recent-posts li { margin-bottom: 10px; }

/* Disqus */
#disqus_thread { margin-top: 20px; padding-top: 20px; border-top: 1px dotted rgba(0, 0, 0, 0.2); }

/* Responsiveness */

@media (max-width: 979px) {
	.container, .container-fluid { width: auto; }
}

@media (max-width: 560px) {
	.hero-unit h1 a { font-size: 40px; }
	.hero-unit h2 { line-height: normal; font-size: 20px;  }
	.hero-unit .heading-wrapper { text-align:  center; }
}