---
/**
 * GitHub Culture Callout Component
 * 
 * Displays a callout linking to posts about GitHub's culture.
 * This replaces the Jekyll {% include_cached github-culture.html %} tag.
 * 
 * Note: Uses Bootstrap alert component imported in optimized.scss
 */
---

<div class="alert alert-primary text-center" role="alert">
  Interested in learning more about how GitHub works and what it's like to be a GitHubber?<br />
  <a href="/2021/02/01/what-to-read-before-starting-or-interviewing-at-github/" class="alert-link">
    Check out these popular posts on GitHub's culture and communication patterns
  </a>.
</div>
