---
/**
 * Mini Bio Component
 * 
 * Displays a brief author bio with avatar for blog posts.
 * Uses Tailwind CSS utilities for layout and styling.
 * Dynamically pulls the first paragraph from the about page content.
 * Replicates the Jekyll mini-bio.html include functionality.
 */

import { Image } from 'astro:assets';
import { siteConfig } from '../config';
import { aboutContent, getFirstParagraph } from '../content/about-bio';
import avatarImage from '../../assets/img/avatar.png';

const firstParagraph = getFirstParagraph(aboutContent);
const bioHtml = `${firstParagraph} <a href="/about/">More about the author &rarr;</a>`;
---

<div class="mini-bio flex">
  <div class="flex-shrink-0 pt-1 pr-4">
    <Image 
      src={avatarImage}
      alt={siteConfig.author}
      width={100}
      height={100}
      class="avatar rounded block"
      loading="lazy"
    />
  </div>
  
  <!-- firstParagraph is safe for set:html because link text is now escaped in about-bio.ts -->
  <p set:html={bioHtml} class="mb-0 leading-normal text-sm" />
</div>
