---
/**
 * YouTube Component
 * 
 * Embed YouTube videos in blog posts with responsive sizing.
 * Uses Bootstrap ratio utility for responsive 16:9 aspect ratio.
 * 
 * Usage in MDX:
 * <YouTube id="dQw4w9WgXcQ" title="Video Title" />
 */

interface Props {
  id: string;
  title?: string;
}

const { id, title = 'YouTube video' } = Astro.props;
const embedUrl = `https://www.youtube.com/embed/${id}`;
---

<div class="ratio ratio-16x9 my-4 rounded-3 overflow-hidden">
  <iframe
    src={embedUrl}
    title={title}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
