<!DOCTYPE html>
<html lang="{{ site.lang }}" xml:lang="{{ site.lang }}">
  <head>
    {% include_cached meta.html %}
    {% if page.robots %}
    <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    {% feed_meta %}
    {% seo %}
    {% if page.reload %}
    <meta name="turbo-visit-control" content="reload">
    {% endif %}
    <meta name="view-transition" content="same-origin" />
    {% if layout.hero %}
    <link rel="preload" href="/assets/img/header.jpg" as="image" />
    {% endif %}
  </head>
  <body class="{{ page.layout }} post{{ page.id | slugify | prepend: "-"}} mt-2">
    <div class="container">

      {% if layout.hero %}
        <div class="hero-unit rounded-top position-relative">&nbsp;</div>
      {% endif %}

      {% include nav.html %}

      <div class="content" id="content" role="main">
        {{ content }}
      </div><!-- /.content -->

      {% include_cached footer.html %}
    </div><!--/.container-->

    {% if site.twitter.property_id %}
    <script src="https://platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('{{ site.twitter.property_id }}', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
    {% endif %}

    {% if site.cloudflare.id %}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ site.cloudflare.id }}"}'></script>
    {% endif %}
  </body>
</html>
<!-- Proudly Powered by GitHub Pages | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->
