{% include header.html %}

<div class="content" id="content" role="main">
<div class="row-fluid">
	<div class="span9">
	
	<div class="posts">
	
{% for page in paginator.posts %}

<article id="post{{ page.id | replace:"/","-" }}" class="post post{{ page.id | replace:"/","-" }}">
	
	<h2 class="title"><a href="{{ site.url}}{{ page.url }}">{{ page.title }}</a></h2> 

	<div class="post-meta">
		<span class="entry-date">Posted on {{ page.date | date: '%B %d, %Y' }}</span> 
		<span class="entry-author">by {{ page.author }}</span>
	</div>
	    
    <div class="entrybody">
        {% capture readon %}
          <p class="readon"><a href="{{ site.url }}{{ page.url }}">Continue Reading {{ page.title }} &rarr;</a></p>
          <!-- more -->
        {% endcapture %}
        {{ page.content | replace:"<!-- more -->", readon | split: "<!-- more -->" | first }}
    </div>

    <div class="post-taxonomies">
  		Posted in {% assign taxonomy = 'categories' %}{% include term-list-csv.html %} |
		  Tagged {% assign taxonomy = 'tags' %}{% include term-list-csv.html %}		
    </div>
    
</article>

{% endfor %}
	</div><!-- posts -->
	
{% include pagination.html %}

	</div><!-- span9 -->
	<div class="span3">
		{% include sidebar.html %}
	</div><!-- span3 -->
</div><!-- row-fluid -->

</div><!-- content -->

{% include footer.html %}