{% include header.html %}

<div class="content" id="content" role="main">
<div class="row">
	<div class="col-12">
	
	<div class="posts">
	
{% for page in paginator.posts %}

<article id="post{{ page.id | replace:"/","-" }}" class="post post{{ page.id | replace:"/","-" }}">
	
	<h2 class="title"><a href="{{ site.url}}{{ page.url }}">{{ page.title }}</a></h2> 

	<div class="post-meta">
		<span class="entry-date">Posted on {{ page.date | date: '%B %d, %Y' }}</span> 
		<span class="entry-author">by {{ page.author }}</span>
	</div>
	    
    <div class="entrybody">
        {{ page.content | replace: "<!-- more -->", "<!-- more " }}
        {% if page.content contains "<!-- more -->" %}
          --> 
          <p class="readon"><a href="{{ site.url }}{{ page.url }}">Continue Reading {{ page.title }} &rarr;</a></p>
        {% endif %}
    </div>
    
</article>

{% endfor %}
	</div><!-- posts -->
	
{% include pagination.html %}

	</div><!-- span9 -->

</div><!-- row -->

</div><!-- content -->

{% include footer.html %}