{% include header.html %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

<article id="post{{ page.id | replace:"/","-" }}" class="post post{{ page.id | replace:"/","-" }}" itemscope itemtype="http://schema.org/ScholarlyArticle">

  <h2 class="title"><a href="{{ page.url }}" itemprop="name">{{ page.title }}</a></h2>

  <meta itemprop="about" content="{{ page.excerpt }}" />
  <meta itemprop="description" content="{{ page.excerpt }}" />
  <meta itemprop="author" content="{{ site.name }}" />
  <meta itemprop="copyrightHolder" content="{{ site.name }}" />
  <meta itemprop="copyrightYear" content="{{ page.date | date: '%Y' }}" />
  <meta itemprop="discussionUrl" content="{{ site.url }}{{ page.url }}" />

  <div class="post-meta">
    <span class="entry-date">Posted <span itemprop="datePublished">{{ page.date | date: '%B %d, %Y' }}</span></span> |
    <a class="revision-history" href="https://github.com/benbalter/benbalter.github.com/commits/master/{{ page.path }}" target="_blank">View revision history</a>
  </div>

    <div class="entrybody" itemprop="articleBody">
        {{ content }}
    </div>

    {% include improve.html %}

    {% unless page.comments == false %}
      {% include comments.html %}
    {% endunless %}

</article>

  </div>
</div>

{% include footer.html %}
