{% include header.html %}

{{ content }}

<div class="content">
	<div class="bar span2"></div>

{% assign section = '' %}
{% assign organization = '' %}
{% for post in site.categories.resume %}
	
		{% if post.section != section %}
		
			{% if section != '' %}
				</div>
			</div>
			{% endif %}
	
			{% assign section = post.section %}
			
			<div class="row-fluid">
				<div class="span2">
					{{ section | prepend:"## " | markdownify }}
				</div>
				<div class="span10">
		{% endif %}
		
		{% if post.organization and post.organization != organization %}
		{% assign organization = post.organization %}
			{{ organization | prepend:"### " | markdownify }}
			<div class="location">{{ post.location }}</div>
		{% endif %}

{% if post.title %}{{ post.title | prepend:"#### " | markdownify }}{% endif %}
<div class="date">{% if post.from %}{{ post.from }} &mdash; {% endif %}{{ post.to }}</div>
	
	<div class="details">
		{{ post.content | markdownify }}
	</div>
	
{% endfor %}
	
	</div>

</div>

{% include footer.html %}
