name: CI

on:
  push:
    branches:
      - main
      - master
    paths:
      - '_posts/**'
      - '_resume_positions/**'
      - '*.md'
      - '_data/**'
      - 'dictionary.txt'
      - '.remarkrc.js'
      - '.remarkignore'
      - '.textlintrc'
      - '.vale.ini'
      - '.markdown-lint.yml'
      - '.markdownlint-cli2.cjs'
      - 'script/cibuild-content'
      - 'script/remark'
      - 'script/lint-text'
      - 'script/vale'
      - '**/*.rb'
      - '**/*.js'
      - '**/*.ts'
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '_config*.yml'
      - 'Gemfile*'
      - 'package*.json'
      - 'Rakefile'
      - '_layouts/**'
      - '_includes/**'
      - 'assets/**'
      - 'sass/**'
      - 'js/**'
      - 'lib/**'
      - 'script/**'
      - 'spec/**'
      - '.rubocop*.yml'
      - 'eslint.config.js'
      - '.yamllint.yml'
      - '.github/workflows/ci.yml'
  pull_request:
    paths:
      - '_posts/**'
      - '_resume_positions/**'
      - '*.md'
      - '_data/**'
      - 'dictionary.txt'
      - '.remarkrc.js'
      - '.remarkignore'
      - '.textlintrc'
      - '.vale.ini'
      - '.markdown-lint.yml'
      - '.markdownlint-cli2.cjs'
      - 'script/cibuild-content'
      - 'script/remark'
      - 'script/lint-text'
      - 'script/vale'
      - '**/*.rb'
      - '**/*.js'
      - '**/*.ts'
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '_config*.yml'
      - 'Gemfile*'
      - 'package*.json'
      - 'Rakefile'
      - '_layouts/**'
      - '_includes/**'
      - 'assets/**'
      - 'sass/**'
      - 'js/**'
      - 'lib/**'
      - 'script/**'
      - 'spec/**'
      - '.rubocop*.yml'
      - 'eslint.config.js'
      - '.yamllint.yml'
      - '.github/workflows/ci.yml'

permissions:
  contents: read
  statuses: write

env:
  NODE_VERSION: 24

jobs:
  content:
    name: Content Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: script/cibuild-content
        run: script/cibuild-content

  code:
    name: Code Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Cache apt packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libvips-dev
          version: 1.0

      - name: script/bootstrap
        run: script/bootstrap

      - name: script/cibuild-code
        run: script/cibuild-code
