name: Super Linter

on:
  push: {}
  pull_request:
    branches: [master, main]
    
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: main
          VALIDATE_XML: false
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_GITLEAKS: false
          RUBY_CONFIG_FILE: .rubocop.yml
          LINTER_RULES_PATH: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}