name: Super Linter

# Temporarily disabled
# on:
#   push: {}
#   pull_request:
#     branches: [master, main]

permissions:
  contents: read
  statuses: write

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: main
          # Disable validators for languages not used in this repository
          VALIDATE_ANSIBLE: false
          VALIDATE_ARM: false
          VALIDATE_CLOJURE: false
          VALIDATE_CLOUDFORMATION: false
          VALIDATE_CSHARP: false
          VALIDATE_DART: false
          VALIDATE_DOCKER: false
          VALIDATE_GO: false
          VALIDATE_GROOVY: false
          VALIDATE_JAVA: false
          VALIDATE_KOTLIN: false
          VALIDATE_LATEX: false
          VALIDATE_LUA: false
          VALIDATE_PERL: false
          VALIDATE_PHP_BUILTIN: false
          VALIDATE_PHP_PHPCS: false
          VALIDATE_PHP_PHPSTAN: false
          VALIDATE_PHP_PSALM: false
          VALIDATE_POWERSHELL: false
          VALIDATE_PROTOBUF: false
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_R: false
          VALIDATE_REST: false
          VALIDATE_RUST: false
          VALIDATE_SCALA: false
          VALIDATE_SQL: false
          VALIDATE_SWIFT: false
          VALIDATE_TERRAFORM_FMT: false
          VALIDATE_TERRAFORM_TFLINT: false
          VALIDATE_TERRAFORM_TERRASCAN: false
          # Already disabled validators
          VALIDATE_XML: false
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_GITLEAKS: false
          # Configuration
          RUBY_CONFIG_FILE: .rubocop.yml
          LINTER_RULES_PATH: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
